:host {
  display: block;
}

[role='option'] {
  border: 1px solid;
  border-radius: 0.3rem;
  padding: 0.1rem 0.5rem;

  &[aria-selected='true'] {
    background-color: black;
    color: white;
  }
}
