:host {
  display: block;

  button {
    border: 1px solid;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    border-radius: 0.2em;
    padding: 0.2em 0.5em;

    &:focus-visible {
      outline: var(--focus-outline);
      outline-offset: var(--focus-outline-offset);
    }

    &:active {
      transform: translate(0.1em, 0.1em);
    }
  }
}
